@{
    ViewBag.Title = "Giving your ideas for the alternative foods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/Content/Alternative.css">
    <link rel="stylesheet" href="~/Content/jq22.css">
    <link rel="stylesheet" href="~/Content/jq23.css">
    <link rel="stylesheet" href="~/Content/jq24.css">
    <style>
    </style>
</head>
<body>
    <!-- page introduction start-->
    <section class="breadcrumb" style="background-image:url(/img/alternfood.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>When you want something</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page introduction end-->
    
    <!-- advice start-->
    <button class="accordion">Sweets</button>
    <div class="panel">
        <div class="jq22">
            <div class="jq22_main" id="jq22_main">
                <div class="Small_tedian_tit">Instead of Cakes, Cookies, or Ice Creams, Try:</div>
                <div class="jq22_tab">
                    <div class="jq22_tabmin">
                        <div class="jq22_click cur"><i></i><b>1</b></div>
                        <div class="jq22_click"><i></i><b>2</b></div>
                        <div class="jq22_click"><i></i><b>3</b></div>
                        <div class="jq22_click"><i></i><b>4</b></div>
                        <div class="jq22_click"><i></i><b>5</b></div>
                        <div class="jq22_click"><i></i><b>6</b></div>
                        <div class="jq22_click"><i></i><b>7</b></div>
                    </div>
                </div>
                <div class="conBox">
                    <div class="jq22_tabcon" style="display:block;">
                        <div class="jq22_left1 fadeInLeft">
                            <img class="example-image" src="~/img/a1.jpg" />
                        </div>
                        <div class="jq22_right1">
                            <b>01</b>
                            <em>Sugar-free Jello</em>
                            <p>Easily Found in <a style="color:crimson">Coles</a></p>
                            <p>Not Only Taste Good and Healthy</p>
                            <p>It Provides Many Flavors to Choose!</p>
                        </div>
                    </div>
                    <div class="jq22_tabcon">
                        <div class="jq22_right2">
                            <b>02</b>
                            <em>Sugar-free Hard Candy</em>
                            <p>Keeps You Healthy While</p>
                            <p>Still Tasting the Light Sweetness</p>
                            <p>Please Read the Nutrition</p>
                            <p>Label for Serving Size Information</p>
                        </div>
                        <div class="jq22_left2 fadeInRight">
                            <img class="example-image" src="~/img/a2.jpg" />
                        </div>
                    </div>
                    <div class="jq22_tabcon">
                        <div class="jq22_left3 fadeInLeft">
                            <img class="example-image" src="~/img/a3.jpg" />
                        </div>
                        <div class="jq22_right3">
                            <b>03</b>
                            <em>Sugar-free Hot Cocoa</em>
                            <p>Not Only Refreshing</p>
                            <p>But Also Gives You a Good Mood</p>
                        </div>
                    </div>
                    <div class="jq22_tabcon">
                        <div class="jq22_right4">
                            <b>04</b>
                            <em>Fruit with Cool Whip</em>
                            <p>Easy to Buy Fresh Fruits from <a style="color:crimson">Coles</a></p>
                            <p>and Mix It with Whip Cream!</p>
                            <p>Colorful Fruits Make You Happier!</p>
                        </div>
                        <div class="jq22_left4 fadeInRight">
                            <img class="example-image" src="~/img/a4.jpg" />
                        </div>
                    </div>
                    <div class="jq22_tabcon">
                        <div class="jq22_left5 fadeInLeft">
                            <img class="example-image" src="~/img/a5.jpg" />
                        </div>
                        <div class="jq22_right5">
                            <b>05</b>
                            <em>Low Fat Cookies</em>
                            <p>Like Ginger Snaps, </p>
                            <p>Vanilla Wafers, </p>
                            <p>Graham Crackers, </p>
                            <p>Animal Shaped Crackers</p>
                            <p>Please be mindful of the serving size.</p>
                        </div>
                    </div>
                    <div class="jq22_tabcon">
                        <div class="jq22_right6">
                            <b>06</b>
                            <em>Sugar-free Pudding</em>
                            <p>Buy Sugar-free Pudding</p>
                            <p>or</p>
                            <p>Learn How to Make it Yourself</p>
                            <p>It's Time to Eat More Healthy!!</p>
                        </div>
                        <div class="jq22_left6 fadeInRight">
                            <img class="example-image" src="~/img/a6.jpg" />
                        </div>
                    </div>
                    <div class="jq22_tabcon">
                        <div class="jq22_left7 fadeInLeft">
                            <img class="example-image" src="~/img/a7.jpg" />
                        </div>
                        <div class="jq22_right7">
                            <b>07</b>
                            <em>No Sugar Added Fudgsicles</em>
                            <p>Having the Same Great Taste of the Original one</p>
                            <p>Creamy, Chocolatey Goodness</p>
                            <p>20 Pops Per Pack, Enough for the Whole Family!</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="accordion">Sugary Drinks</button>
    <div class="panel">
        <div class="jq23">
            <div class="jq23_main" id="jq23_main">
                <div class="Small_tedian_tit">Instead of Soda or Fruit Punch, Try:</div>
                <div class="jq23_tab">
                    <div class="jq23_tabmin">
                        <div class="jq23_click cur"><i></i><b>1</b></div>
                        <div class="jq23_click"><i></i><b>2</b></div>
                        <div class="jq23_click"><i></i><b>3</b></div>
                        <div class="jq23_click"><i></i><b>4</b></div>
                    </div>
                </div>
                <div class="conBox">
                    <div class="jq23_tabcon" style="display:block;">
                        <div class="jq23_left1 fadeInLeft">
                            <img class="example-image" src="~/img/b1.jpg" />
                        </div>
                        <div class="jq23_right1">
                            <b>01</b>
                            <em>Diet Soda</em>
                            <p>Can Find Easily In <a style="color:crimson">Coles</a></p>
                            <p>Although It Claims No Sugar</p>
                            <p>and Zero Calorie</p>
                            <p>You Should Control the Serving Size</p>
                        </div>
                    </div>
                    <div class="jq23_tabcon">
                        <div class="jq23_right2">
                            <b>02</b>
                            <em>Crystal Light or Other-</em>
                            <em>Sugar-free Beverages</em>
                            <p>A Variety of Flavors</p>
                            <p>Free of Artificial Flavors,</p>
                            <p>Sweeteners and Preservatives</p>
                        </div>
                        <div class="jq23_left2 fadeInRight">
                            <img class="example-image" src="~/img/b2.jpg" />
                        </div>
                    </div>
                    <div class="jq23_tabcon">
                        <div class="jq23_left3 fadeInLeft">
                            <img class="example-image" src="~/img/b3.jpg" />
                        </div>
                        <div class="jq23_right3">
                            <b>03</b>
                            <em>Seltzer with Just an</em>
                            <em>Ounce or Two of Fruit</em>
                            <em>Juice</em>
                            <p>Soda Combines with a Hint of </p>
                            <p>Fresh Juice</p>
                            <p>Let You Immerse in the Aroma of Fruit</p>
                        </div>
                    </div>
                    <div class="jq23_tabcon">
                        <div class="jq23_right4">
                            <b>04</b>
                            <em>Water with Lemon Juice</em>
                            <p>Get Some Fresh Lemons in<a style="color:crimson"> Coles</a> !</p>
                            <p>Easy to Make and Taste Good.</p>
                        </div>
                        <div class="jq23_left4 fadeInRight">
                            <img class="example-image" src="~/img/b4.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button class="accordion">Comfort Foods</button>
    <div class="panel">
        <div class="jq24">
            <div class="jq24_main" id="jq24_main">
                <div class="Small_tedian_tit">Instead of High-fat, High-carb Choices, Try:</div>
                <div class="jq24_tab">
                    <div class="jq24_tabmin">
                        <div class="jq24_click cur"><i></i><b>1</b></div>
                        <div class="jq24_click"><i></i><b>2</b></div>
                        <div class="jq24_click"><i></i><b>3</b></div>
                    </div>
                </div>
                <div class="conBox">
                    <div class="jq24_tabcon" style="display:block;">
                        <div class="jq24_left1 fadeInLeft">
                            <img class="example-image" src="~/img/c1.jpg" />
                        </div>
                        <div class="jq24_right1">
                            <b>01</b>
                            <em>Macaroni and Cheese</em>
                            <em>(Homemade)</em>
                            <p>Cooked with Fat-free Milk,</p>
                            <p>Low Fat Cheese, and Egg Substitute</p>
                        </div>
                    </div>
                    <div class="jq24_tabcon">
                        <div class="jq24_right2">
                            <b>02</b>
                            <em>Mashed Potatoes</em>
                            <em>(Homemade)</em>
                            <p>Made with Trans-fat Free</p>
                            <p>Margarine and Fat-free Milk</p>
                            <p>or Replace Part of the Potato</p>
                            <p>with Pureed Cauliflower</p>
                        </div>
                        <div class="jq24_left2 fadeInRight">
                            <img class="example-image" src="~/img/c2.jpg" />
                        </div>
                    </div>
                    <div class="jq24_tabcon">
                        <div class="jq24_left3 fadeInLeft">
                            <img class="example-image" src="~/img/c3.jpg" />
                        </div>
                        <div class="jq24_right3">
                            <b>03</b>
                            <em>Meatloaf made with</em>
                            <em>Ground Turkey and</em>
                            <em>Egg Substitute</em>
                            <p>Healthy Fat (monosaturated fat)</p>
                            <p>Homemade meatloaf has less salt</p>
                            <p>Get the Fresh Ingredients from <a style="color:crimson">Coles</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/Alternative.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Alter.js"></script>
</body>