@{
    ViewBag.Title = "Sweet World Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- breadcrumb start-->
<section class="breadcrumb" style="background-image:url(/img/whatissugar-main.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>What is Sugar?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end-->
<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Rediscover The Essence of Sugar</h3>
        <p class="sample-text" style="font-size:600px x-large">
            The term ‘<b>Sugar</b>’ often refers to what we know as <i>the type of sugar that we use in baking or add to the drink like coffee and tea</i>.           
        </p>
        <br>
            In Australia, this sugar comes from sugar cane. But the sugar we see on the table is just a sugar that is naturally found in all foods.
        </br>
        <br>
            All "sugars" are carbohydrates, and together with starch are our main source of energy. We rely on sugar for energy – whether it's for our brain, body or nervous system. In fact, it has been a part of our diet for thousands of years. Sugar is found in most foods such as fruits, vegetables and milk and is a component of a wide range of foods and beverages.
        </br>
    </div>
</section>
<!-- End Sample Area -->
