@{
    ViewBag.Title = "Let's know more about the types of sugar!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page introduction start-->
<section class="breadcrumb" style="background-image:url(/img/sugartype-main.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color: white; font-size: 40px">Let's learn more about the sugar!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page introduction end-->
<!-- Welcome content start-->
<header>
        <div height:auto;" align="center">
        <h2>There are Six Types of Sugar</h2>
        </div>
</header>
<!-- Welcome content start-->
<!-- Sugar type part Start -->
<div class="whole-wrap" style="text-align:justify">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">Fructose</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/fructose.jpg" width="225" height="225" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>Along with glucose, fructose is one of the two major components of added sugar. Some health experts believe fructose is the worse of the two, at least when consumed in excess. Fructose needs to be converted into glucose by the liver before it can be used by the body. When people eat a diet that is high in calories and high in fructose, the liver gets overloaded and starts turning the fructose into fat, which may cause several diseases. </p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30" style="position:relative;left:930px; max-width:200px;">Galactose</h3>
            <div class="row">
                <div class="col-md-9">
                    <p>Galactose is a simple sugar, which belongs to simple carbohydrates. Galactose is composed of the same elements as glucose, but has a different arrangement of atoms. The main dietary source of galactose is lactose from milk and yogurt, which is digested to galactose and glucose. Foods containing small amounts of free galactose include low-lactose or lactose-free milk, certain yogurts, cheeses, creams, ice creams and other foods artificially sweetened with galactose. Plain natural foods (fruits, vegetables, nuts, grains, fresh meats, eggs, milk) usually contain less than 0.3 g galactose per serving. Certain medications may contain galactose as a filler.</p>
                </div>
                <div class="col-md-3">
                    <img src="~/img/galactose.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Glucose</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/glucose.jpg" width="225" height="225" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>It's a type of sugar you get from honey, fruits and vegetables you eat, and your body uses it for energy. As it travels through your bloodstream to your cells, it's called blood glucose or blood sugar.</p><br />
                    <p>When the body is unable to regulate levels of glucose in the blood either because of a lack of insulin in the body or the failure, by cells in the body, to respond properly to insulin, the glucose will result in the diabetes. An increased intake of glucose leads to obesity and, in consequence, partly to the metabolic syndrome with non-alcoholic fatty liver disease, but not the consumption of glucose as part of a normal calorie intake.</p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30" style="position:relative;left:960px; max-width:200px;">Lactose</h3>
            <div class="row">
                <div class="col-md-9">
                    <p>Lactose is a type of sugar found naturally in the milk of most mammals. It can be found in milk or made from glucose and galactose.</p><br />
                    <p>In fact, about 75% of the world's adult population is unable to break down lactose — a phenomenon called lactose intolerance. People who are lactose intolerant have digestive symptoms when they consume dairy products. This includes nausea, vomiting, diarrhea and related symptoms.</p>
                </div>
                <div class="col-md-3">
                    <img src="~/img/lactose.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Maltose</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/maltose.png" width="225" height="225" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>
                        Maltose is a sugar made out of two glucose molecules bound together. It’s created in seeds and other parts of plants as they break down their stored energy in order to sprout. You can find it in wheat, cornmeal, barley and several ancient grains. Many breakfast cereals also use malted grains to add natural sweetness. Fruits are another common source of maltose in the diet, especially peaches and pears. Sweet potatoes contain more maltose than most other foods, accounting for their sweet flavor.
                        Since maltose is made up of just glucose, not fructose, it might be slightly healthier than table sugar. As with other sugars, when you consume maltose in moderation, your body uses it for energy and it does not cause harm. However, if you consume maltose in excess, it can lead to obesity, diabetes and heart and kidney disease, just like other sugars.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30" style="position:relative;left:970px; max-width:200px;">Xylose</h3>
            <div class="row">
                <div class="col-md-9">
                    <p>Xylose is a sugar first isolated from wood, and named for it. Xylose is an antibacterial and antifungal that contains many healing properties. Physicians recommend xylitol as a substance for sugar due to its increased health benefits. Due to the fact that it has no carbohydrates and much higher fibre content, it is also known to aid weight loss and digestive health.  Xylitol is also known to lower insulin levels and can restore hormonal balances and reduce symptoms of premenstrual tension. Studies have also shown it to play an active role in preventing cancer of the digestive tract.</p><br />
                    <p>According to the American Heart Association (AHA), the maximum amount of added sugar that should be eaten in a day is approximately 25 g while xylose forms a much safer option for consumption and has no severe side effects. Xylose is recommended in daily allowances of up to 35 grams in two separate doses.</p>
                </div>
                <div class="col-md-3">
                    <img src="~/img/xylose.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sugar type part end -->
