.mybuttons {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    height: 75px;
    width: 150px;
    border-radius: 6px;
    color: white;
    padding-top: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 150px 75px;
    filter: grayscale(60%);
}

input:hover {
    border-color: red;
}
